<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Proyecto_SGSA.Properties.Settings.SGSAConnectionString"
            connectionString="Data Source=MACBOOK-PC\MACBD;Initial Catalog=SGSA;User ID=jesus;Password=1234"
            providerName="System.Data.SqlClient" />
        <add name="Proyecto_SGSA.Properties.Settings.DB_A7241D_sgsaConnectionString"
            connectionString="Data Source=sql5071.site4now.net;Initial Catalog=DB_A7241D_sgsa;User ID=DB_A7241D_sgsa_admin;Password=sgsa1234"
            providerName="System.Data.SqlClient" />
      <add name = "connection"
connectionString ="Data Source=sql5071.site4now.net;Initial Catalog=DB_A7241D_sgsa;User ID=DB_A7241D_sgsa_admin;Password=sgsa1234"
providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>